    .custom-h3 {
        text-align: left;
        font-size: 20px;
        font-weight: bold;
        /*font-family: 'Montserrat Alternates';*/
        font-family: 'Nunito', sans-serif;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 0px;
        color: black;
    }
    
    .custom-con {
        margin-top: 30px;
    }
    
    .custom-img {
        border-radius: 5px;
    }
    
    .card1 {
        margin-right: 11pt;
        margin-left: 11pt;
        margin-bottom: 10pt;
        margin-top: 10pt;
        border-color: white;
        border-width: 3px;
        border-radius: 5px;
    }
    
    .card3 {
        width: 250px;
    }
    
    .card2 {
        margin-right: 0pt;
        margin-left: 11pt;
        margin-bottom: 0pt;
        margin-top: 0pt;
        border-color: white;
        border-width: 3px;
        border-radius: 5px;
        width: 250px;
    }
    
    .custom-card {
        font-size: 11pt;
    }
    
    .nv-color {
        color: black;
        background-color: #fff;
        font-weight: bold;
    }
    
    .nav-custom1 {
        margin-left: 10pt;
    }
    
    .nav-custom {
        margin-left: 0pt;
        width: 95pt;
        margin-top: 40pt;
        margin-bottom: 30pt;
        text-align: center;
    }
    /* cursor hover */
    
    .nav-link:hover,
    .nav-link:focus {
        background-color: #fff;
        color: #FEC106;
    }
    /* while clicking */
    
    .nav-link:active {
        color: black;
    }
    
    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
        color: #fff;
        background-color: #FEC106;
    }
    
    body {
        background: #eee;
        /*font-family: 'Montserrat Alternates';*/
        font-family: 'Nunito', sans-serif;
    }
    
    .btn,
    .btn:hover,
    .btn:active:focus {
        border-width: 1px;
        border-color: grey;
        border-radius: 4px;
        background-color: #eee;
        color: rgb(51, 51, 51);
        font-weight: 600;
        font-size: 11pt;
        padding: 8px;
        text-align: center;
        margin-top: 0px;
        margin-right: 0px;
        margin-left: 0px;
        margin-bottom: 0px;
        width: 200px;
    }
    
    .btn {
        border-color: #FEC106;
        border-width: 1px;
        font-weight: 550;
        color: white;
        background-color: #FEC106;
    }
    
    .custom-navbar {
        background-color: white;
        z-index: 1;
        color: #444444;
        height: 60px;
        font-weight: 600;
        padding-top: 12px;
        justify-content: center;
        box-shadow: 0px 3px 5px #b5b5b5;
    }
    /*     
    .custom-navbar {
        background-color: rgb(119, 119, 119);
        color: white;
        z-index: 1;
        height: 60px;
        padding-top: 12px;
        justify-content: center;
    }
     */
    
    h4 {
        text-align: center;
        font-weight: 600;
        font-family: 'Nunito', sans-serif;
        padding-top: 2px;
        font-size: 20pt;
    }
    
    .img-bcs-logo {
        width: 100px;
        height: 100px;
        margin-top: -40px;
        margin-left: 10px;
        z-index: 2;
        float: top;
        position: absolute;
    }
    
    .custom-foot {
        background-color: rgb(56, 56, 56);
        color: white;
        margin-bottom: -50px;
    }
    
    .custom-textarea,
    .custom-textarea:hover,
    .custom-textarea:focus,
    .custom-textarea:active:focus,
    .custom-textarea:active {
        border-color: #aaa;
        border-width: 1px;
        border-radius: 4px;
        font-size: 15px;
        font-weight: 400;
        font-size: 10pt;
        padding-left: 5px;
        padding-top: 3px;
    }
    
    .form-control:focus {
        border-color: #FFCD3A;
        box-shadow: 0 0 0 0 #FFCD3A;
    }