h3 {
    text-align: center;
    font-family: 'Montserrat Alternates';
    color: black;
}

.custom-navbar {
    background-color: rgb(119, 119, 119);
    z-index: 1;
    height: 60px;
    padding-top: 12px;
    color: white;
    font-family: 'Montserrat Alternates';
    padding-top: 12px;
}

.img-bcs-logo {
    width: 100px;
    height: 100px;
    margin-top: -40px;
    margin-left: 10px;
    z-index: 2;
    float: top;
    position: absolute;
}

.button {
    opacity: 0.8;
    width: 300px;
    height: 150px;
    margin-right: 10pt;
    margin-left: 10pt;
    margin-top: 10pt;
    margin-bottom: 10pt;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 55pt;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    background-color: #FEC106;
}

@media only screen and (min-width:md) {
    .button {
        align-self: auto;
        width: 350px;
        height: 150px;
        margin-top: 10px;
        font-size: 30px;
        margin-left: 10px;
    }
}

@media only screen and (min-width: lg) {
    .button {
        align-self: auto;
        width: 350px;
        height: 150px;
        margin-top: 10px;
        font-size: 30px;
    }
}

@media only screen and (min-width: xl) {
    .button {
        align-self: auto;
        width: 350px;
        height: 150px;
        margin-top: 10px;
        font-size: 30px;
    }
}

.custom-foot {
    background-color: rgb(34, 34, 34);
    color: white;
}

.row1 {
    margin-top: 40pt;
}

.h3-1 {
    font-size: 20pt;
    font-weight: 100;
}

.h2-1 {
    font-size: 13pt;
    font-weight: 500;
    color: black;
    font-family: 'Montserrat Alternates';
}